# Compiled class files
*.class

# Logs
*.log

# Target folder
/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Exclude target folders in src
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Eclipse
/.classpath
/.project
/.settings/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

